{% extends 'user_base.html' %}
{% block content %}

    <body style="font-size: 30px">
        <form method="POST" class ="mainText">
            <fieldset class="mainBorder" style="height: 250px">
                <legend style="font-size: 40px">PICK ITEM TO DELETE</legend>
                <br>
                {{ form.hidden_tag() }}
                {{ form.id.label }}
                <br>
                {{ form.id }}
                <br>
                <div style="font-size: 15px;">
                {{ form.submit(class="button")}}
                </div>
            </fieldset>
        </form>
    </body>
    <div style="font-size: 30px">
        CURRENT LIST OF ITEMS
    </div>
    <div style="font-size: 20px; color: yellow">
        {% for item in all_items %}
            ID: {{ item.id }}<br>
            Name: {{ item.name }}<br>
        {% endfor %}
    </div>
{% endblock %}